body {
    background-color: black;
    font-family: 'Bebas Neue', sans-serif;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.musicPlayer {
    width: 350px;
    height: 90%;
    background-color: rgb(35, 28, 38);
    border-radius: 10px;
    border: none;
    position: relative;
}

.picture{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.imgContainer {
    background-image: url(IMG_4067-2.webp);
    width: 90%;
    height: 400px;
    margin-top: 15px;
    border-radius: 10px;
    position: relative;
}

.imgContainer img {
    width: 100%;
    background-size: cover;
    height: 100%;
    border-radius: 10px;
}

.HARDCORE {
    position: absolute;
    top: 5px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.HARDCORE p.first {
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
    color: #fff;
}

.HARDCORE p.second {
    font-size: 1.5rem;
    color: #000000;
    letter-spacing: 1px;
    padding: 0;
    margin: -7px;
    -webkit-text-stroke: 1px #fff;
}

.emergency {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-size: 0.8rem;
    position: absolute;
    right: 55px;
    top: 87px;

}
.emergency p {
    margin: 0;
    padding: 0;
}
.police {
    font-size: 1.9rem;
    color: transparent;
    padding: 0;
    margin: 0;
    -webkit-text-stroke: 1px #fff;
    position: absolute;
    top: 100px;
    right: 35px;
    display: flex;
    flex-direction: column;
}
.police p {
    margin: 0;
    padding: 0;
}

.power {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-size: 2.3rem;
    position: absolute;
    left: 10px;
    bottom: 0;
}
.power p {
    margin: 0;
    padding: 0;
}
.year {
    font-size: 1.6rem;
    color: transparent;
    letter-spacing: 10px;
    padding: 0;
    margin: 0;
    -webkit-text-stroke: 1px #fff;
    position: absolute;
    bottom: 0;
    left: 50px;
    display: flex;
}
.year p {
    margin: 0;
    padding: 0;
}

h1{
    font-size: 3rem;
    color: rgb(197, 175, 34);
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 5px;
    width: 300px;
}

.live {
  font-size: 2rem;
    color: #fff;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 55px;
    left: 5px;
    width: 200px;
}

.music {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    position: relative;
}

.circleContainer{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    position: relative;
}

.circle {
    width: 165px;
    background-color: rgb(162, 144, 170);
    height: 165px;
    border-radius: 50%;
    position: relative;
}

button {
    font-size: 2rem;
    border: none;
    background-color: transparent;
    color: rgb(35, 28, 38);
}

.play {
    position: absolute;
    top: 5px;
    left: 68px;
}

.pause {
    position: absolute;
    bottom: 5px;
    left: 68px;
}

.plus {
    position: absolute;
    bottom: 68px;
    left: 5px;
}

.minus {
    position: absolute;
    bottom: 67px;
    right: 10px;
}

.smallCircle {
    width: 50px;
    height: 50px;
    background-color: rgb(35, 28, 38);
    border-radius: 50%;
    position: absolute;
    top: 56px;
    left: 59px;
}